@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-gray-50 text-gray-900;
    font-family: "Source Sans Pro", sans-serif;
  }

  /* Title styles using Libre Baskerville */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Libre Baskerville", serif;
  }

  button {
    font-weight: 500;
  }

  /* Brand name in header */
  .brand-title {
    font-family: "Libre Baskerville", serif;
  }
}

@layer utilities {
  .rounded-3px {
    border-radius: 3px;
  }

  /* Font utility classes */
  /* 16px font sizes */
  .text-16-regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  .text-16-medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  .text-16-semibold {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
  }

  /* 14px font sizes */
  .text-14-regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }

  .text-14-medium {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
  }

  .text-14-semibold {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
  }

  /* 12px font sizes */
  .text-12-medium {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
  }

  .text-12-semibold {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
  }

  /* 24px font sizes */
  .text-24-medium {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
  }

  .text-24-semibold {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
  }

  .text-30-semibold {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
  }

  .text-30-bold {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
  }
  .text-20-bold {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
  }
  .text-18-bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
  }
  .text-16-bold {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
  }

  /* Button utility classes */
  /* Button sizes */
  .btn-md {
    @apply h-10 px-6;
  }

  .btn-sm {
    @apply h-9 px-5;
  }

  /* Primary Button */
  .btn-primary {
    @apply text-16-medium bg-primary-700 text-white rounded-3px border-0 cursor-pointer transition-colors hover:bg-primary-800 active:bg-primary-800 disabled:cursor-not-allowed;
  }
  .btn-primary.loading {
    @apply bg-primary-500 cursor-wait;
  }

  /* Secondary Button */
  .btn-secondary {
    @apply text-16-medium bg-white text-primary-700 cursor-pointer transition-all
    disabled:opacity-50 disabled:cursor-not-allowed
    rounded-3px border border-teal-700
    hover:bg-teal-50 hover:border-teal-800
    active:bg-teal-50 active:border-teal-800;
  }

  /* Tertiary Button */
  .btn-tertiary {
    @apply px-3 py-[9px] flex items-center space-x-2 text-16-medium bg-transparent text-primary-700 cursor-pointer transition-all rounded-3px hover:bg-teal-50 active:bg-teal-50 
    disabled:bg-gray-100 disabled:cursor-not-allowed disabled:text-gray-400;
  }

  /* Link Button */
  .btn-link {
    @apply text-16-medium bg-transparent text-primary-700 border-0 cursor-pointer underline p-0 h-auto transition-colors hover:text-primary-800 active:text-primary-800 disabled:cursor-not-allowed;
  }
  .btn-danger {
    @apply text-16-medium bg-red-700 text-white rounded-3px border-0 cursor-pointer transition-colors hover:bg-red-800 active:bg-red-800 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .site_nav {
    @apply text-16-regular;
  }

  /* Input Styles */
  input,
  select,
  textarea {
    @apply text-gray-500 rounded-3px border border-gray-300 px-3 py-2 transition-all focus:outline-none focus:ring-1 focus:ring-teal-700;
  }

  input[type="checkbox"] {
    @apply w-[18px] h-[18px] rounded border-gray-300 focus:ring-teal-700 focus:ring-1;
    accent-color: #0f766e; /* teal-700 */
  }

  input[type="checkbox"]:hover {
    @apply border-teal-700;
  }

  input[type="checkbox"]:checked {
    @apply bg-teal-800 border-teal-800;
    accent-color: #0f766e; /* teal-800 */
  }

  input[type="checkbox"]:focus {
    @apply ring-teal-700;
  }

  /* Page Navigation Styles */
  .page-navigation {
    @apply px-4 py-[9px] mx-[2px] rounded-full transition-all duration-200 text-16-medium;
  }

  .page-navigation.active {
    @apply bg-teal-700 text-white;
  }

  .page-navigation.inactive {
    @apply text-gray-500;
  }

  .page-navigation.inactive:hover {
    @apply bg-gray-100;
  }

  .page-navigation.inactive:active {
    @apply bg-gray-200;
  }

  /* Section Navigation Styles */
  .section-navigation {
    @apply px-[18px] py-[11px] mx-1 transition-all duration-200 text-16-medium;
  }

  .section-navigation.active {
    @apply bg-teal-50 text-teal-700;
  }

  .section-navigation.inactive {
    @apply text-gray-500;
  }

  .section-navigation.inactive:hover {
    @apply bg-gray-50;
  }

  .section-navigation.inactive:active {
    @apply bg-gray-100;
  }
}
